<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title>{{depName}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-refresher slot="fixed" (ionRefresh)="refreshData($event)">
    <ion-refresher-content
      pulling-icon="chevron-down-circle-outline"
      pulling-text="Pull to refresh"
      refreshing-spinner="circles"
      refreshing-text="Refreshing">
    </ion-refresher-content>
  </ion-refresher>
  <ion-list>
    <ion-list-header>
      <ion-button shape="round" fill="outline"
                  color="success" (click)="showNew=true">
        <ion-icon slot="start" name="add"></ion-icon>Add
      </ion-button>
    </ion-list-header>

    <app-employee *ngIf="showNew" [isNew]="true"
                    (addEmployee)="addEmployee($event)"
                    (cancelAdding)="showNew=false">
    </app-employee>

    <div *ngFor="let employee of employees; let i = index">
      <ion-item-sliding class="ion-text-wrap">
        <ion-item-options side="start">
          <ion-item-option color="primary" (click)="showEdit=i">
            <ion-icon name="create"></ion-icon>
            Change
          </ion-item-option>
          <ion-item-option color="danger" (click)="deleteEmployee(employee.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-item-option>
        </ion-item-options>
        <ion-item (click)="showEdit=-1">
          <ion-icon [name]="employee.gender == 'f' ? 'woman' : 'man'" slot="start"></ion-icon>
          <ion-label class="ion-text-wrap">{{employee.name}}</ion-label>
          <ion-note slot="end">{{employee.age}}</ion-note>
        </ion-item>
      </ion-item-sliding>
      <app-employee *ngIf="showEdit==i"
                    [isNew]="false"
                    [employee]="employee"
                    (saveEvent)="showEdit=-1">
      </app-employee>
    </div>
  </ion-list>

  <ion-infinite-scroll threshold="100px" (ionInfinite)="addData($event)">
    <ion-infinite-scroll-content
      loadingSpinner="bubbles"
      loadingText="Loading more employees...">
    </ion-infinite-scroll-content>
  </ion-infinite-scroll>
</ion-content>

