<ion-header> <!--[translucent]="true"-->
  <ion-toolbar>
    <ion-title>
      Company X
    </ion-title>
    <ion-buttons slot="end">
      ({{user.username}})
      <ion-button (click)="logOut()">
        <ion-icon slot="icon-only" name="log-out"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content> <!--[fullscreen]="true"-->
  <ion-list>
    <ion-list-header>
      <ion-label>Departments</ion-label>
      <ion-button *ngIf="user.role !== Role.VIEWER"
                  shape="round" fill="outline"
                  color="success" (click)="showNew=true">
        <ion-icon slot="start" name="add"></ion-icon>Add
      </ion-button>
    </ion-list-header>

    <app-department *ngIf="showNew" [isNew]="true"
                    (addDep)="addDepartment($event)"
                    (cancelAddingDep)="showNew=false">
    </app-department>

    <div *ngFor="let department of departments; let i = index">
      <ion-item-sliding>
        <ion-item-options side="start" *ngIf="user.role !== Role.VIEWER">
          <ion-item-option color="primary" (click)="showEdit=i">
            <ion-icon name="create"></ion-icon>
            Change
          </ion-item-option>
          <ion-item-option color="danger" (click)="delete(department.id)">
            <ion-icon name="trash"></ion-icon>
            Delete
          </ion-item-option>
        </ion-item-options>
        <ion-item (click)="showEdit=-1">
          <ion-icon name="people" slot="start"></ion-icon>
          <ion-label>{{department.type}}</ion-label>
          <ion-note slot="end">{{department.name}}</ion-note>
        </ion-item>
        <ion-item-options side="end">
          <ion-item-option color="secondary"
                           [routerLink]="['/employees/'+department.id, {depName: department.name}]"
                           routerDirection="forward">
            <ion-icon name="reorder-three-outline"></ion-icon>
            Employees
          </ion-item-option>
        </ion-item-options>
      </ion-item-sliding>
      <app-department *ngIf="showEdit==i" [isNew]="false"
                      [department]="department">
      </app-department>
    </div>
  </ion-list>
  <ion-item class="ion-text-center">
    <ion-input type="text" [(ngModel)]="extraData"></ion-input>
  </ion-item>
  <ion-button color="primary" class="ion-float-right" (click)="transferToDataSender()">
    <ion-icon slot="start" name="sync"></ion-icon> Transfer data
  </ion-button>
</ion-content>
